{% extends 'base.html.twig' %}

{% block body %}
    {% for content in electra  %}
        <li>{{ content.category.name }}</li>
        <li>{{ content.title }}</li>
        <li>{{ content.shortText}}</li>
        <li>{{ content.text }}</li>
        <li>{{ content.link }}</li>
    {% endfor %}
{% endblock %}

