{% extends 'admin/index.html.twig' %}


{% block body %}
    <div class="container">
        <h1>Electra</h1>
        <div class="row">
            <div class="col-md-6">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>

            <div class="col-md-6">
                {% for content in data %}
                    {{ content.id }} <br />
                    {{ content.title }}<br />
                    {{ content.shortText }} <br />
                    {{ content.text }} <br />
                    {{ content.link }} <br />
                    {{ content.imageId }} <br />
                    {{ content.active }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}