{% extends 'admin/index.html.twig' %}


{% block body %}
    <div class="container">
        <h1>Category</h1>
        <div class="row">
            <div class="col-md-6">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>

            <div class="col-md-6 scroll-container">
                {% for content in data %}
                    <h3>{{ content.name }}</h3>
                    <a class="btn btn-default" href="/user/category/edit/{{ content.id }}" role="button">Edit</a>
                    <a class="btn btn-danger" href="/user/category/delete/{{ content.id }}" role="button">Delete</a>
                    <hr />
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}