{% extends 'admin/index.html.twig' %}

{% block content %}
    <div class="container">
        <h1>Edit</h1>
    </div>

    {% for item in user %}
        <tr>
            <td>{{ item.username }}</td>
            <td>{{ item.email }}</td>
            {% if item.enabled == 1 %}
                <td>Active</td>
            {% else %}
                <td>Non active</td>
            {% endif %}
            <td>{{ item.lastLogin|date("d/m/Y:H:I:s") }}</td>
            <td>{{ item.roles|join }}</td>
            <td>
                <a class="btn btn-default" href="/user/fos/edit/{{ item.id }}" role="button">Edit</a>
            </td>
        </tr>
    {% endfor %}

{% endblock %}